.img-responsive{
  height: auto;
  max-width: 100%;
}
.wrapper{
  background-color: #ccc;
  max-width: 80%;
}
.wrapper .row .item{
  text-align: center;
  position: relative;
}
.wrapper .row .item .logo{
  text-align: center;
  position: relative;
  max-width: 200px;
}
.wrapper .row .item .text{
  background-color: #fff;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
